body {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222427;
}

.err-message-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.err-message {
  font-weight: bold;
  font-size: 35px;
  padding: 50px;
  color: #fff;
}

#btn {
  border-radius: 0.5em;
  padding: 10px 15px;
  color: #fff;
  background-color: #48e;
}
